* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

img {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5 {
    color: #393e46;
}